<script id="mashup-track-template" type="text/x-jquery-tmpl">
    <div class="track row-fluid">
        <div class="span1 ">
        </div>
        <div class="span1">
        </div>
        <div class="span1">
        </div>
        <div class="span1">
        </div>
        <div class="span1 ">
        </div>
        <div class="span1">
        </div>
        <div class="span1">
        </div>
        <div class="span1">
        </div>
        <div class="span1 ">
        </div>
        <div class="span1">
        </div>
        <div class="span1">
        </div>
        <div class="span1">
        </div>
        <div class="span1 ">
        </div>
        <div class="span1">
        </div>
        <div class="span1">
        </div>
        <div class="span1">
        </div>
    </div>

</script>