<script id="mashup-message-template" type="text/x-jquery-tmpl">
    <div class="row-fluid">
        <div class="span16">
            <div class="alert {{AlertType}}">
                <a class="close" data-dismiss="alert">×</a>
                <strong>{{Title}}</strong> {{Message}}
            </div>
        </div>
    </div>
</script>